/* 
    O @media define regras específicas para diferentes larguras de tela (responsividade).
    No caso abaixo, as regras se aplicam quando a largura da tela é igual ou menor que 768px.
*/
@media (max-width: 768px) {

    /* Modifica o gradiente de fundo da tela principal em telas pequenas */
    main::after {
        background: linear-gradient(to top, #fcf9f9, rgba(0, 0, 0, 0));
        /* gradiente branco que desaparece */
        width: auto;
        /* faz o gradiente ocupar toda a largura da tela */
    }
        
    /* Exibe o personagem selecionado */
    main .personagem .imagem {
        height: 70vh;
        /* altura da /tela */
        width: auto;
        /* largura automática */
        position: static;
        /* posicionamento padrão */
    }

    /* Ajusta a posição do conteúdo dentro do personagem (desloca mais para baixo e à esquerda) */
    .conteudo {
        justify-content: flex-end;
        /* move o conteúdo para a parte inferior do bloco */
        left: 0;
        /* posiciona o conteúdo à esquerda */
        top: -150px;
        /* desloca o conteúdo para cima */
        max-width: 100vw;
        /* largura máxima igual à largura da tela */
        padding: 30px;
        /* adiciona espaçamento interno */
    }

    /* Diminui o tamanho da fonte do nome do personagem */
    .conteudo .nome-personagem {
        font-size: 30px;
    }

    /* Ajusta a largura máxima da descrição do personagem */
    .conteudo .descricao {
        font-size: 15px;
        max-width: 500px;
        /* largura máxima */
    }

    /* Muda o layout dos botões para uma linha horizontal, com alinhamento na parte inferior */
    .botoes {
        background: linear-gradient(to top, #fcf9f9, rgba(0, 0, 0, 0) 15%);
        /* gradiente preto que desaparece */
        width: 100vw;
        /* faz o gradiente ocupar toda a largura da tela */
        flex-direction: row;
        /* coloca os botões em linha */
        align-items: flex-end;
        /* posiciona os botões na parte inferior */
        width: 100%;
        /* ocupa toda a largura da tela */
        padding: 30px;
        /* espaçamento interno */
    }

    /* Ajusta o tamanho dos botões */
    .botoes .botao {
        width: 70px;
        height: 70px;
    }

    /* Redimensiona as imagens dentro dos botões */
    .botoes .botao img {
        max-width: 70px;
    }
}

/* 
  @media abaixo define regras para telas com largura de até 425px.
*/
@media (max-width: 425px) {

    /* Ajusta a altura da imagem do personagem para auto, permitindo que a imagem seja redimensionada proporcionalmente */
    main .personagem .imagem {
        height: 60vh;
        /* altura automática */
        width: auto;
        /* largura igual à largura da tela */
        position: static;
        /* posicionamento padrão */
    }

    /* Mantém o conteúdo do personagem deslocado para cima */
    .conteudo {
        top: -18%;
        /* desloca o conteúdo para cima */
    }

    /* Ajusta os botões para que fiquem mais compactos */
    .botoes {
        background: linear-gradient(to top, #fcf9f9, rgba(0, 0, 0, 0) 11%);
        padding: 20px;
        /* espaçamento interno */
        top: -10%;
        /* ajusta a posição vertical dos botões */
    }

    /* Diminui o tamanho dos botões */
    .botoes .botao {
        width: 50px;
        /* largura */
        height: 50px;
        /* altura */
    }

    /* Ajusta a imagem dentro dos botões */
    .botoes .botao img {
        max-width: 50px;
        /* largura máxima */
    }
}