@media (max-width: 768px) {
    main::after {
        background: linear-gradient(0deg, #000 45%, rgba(0, 0, 0, 0) 70%) no-repeat;
        width: 100vw;
    }

    main .personagem .imagem {
        height: auto;
        object-position: center;
    }

    .conteudo {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        max-width: 100vw;
        padding: 30px;
        justify-content: center;
        align-items: flex-start;
    }

    .conteudo .nome-personagem {
        font-size: 30px;
    }

    .conteudo .descricao {
        max-width: 500px;
    }

    .botoes {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        bottom: 20px;
        top: auto;
        width: 100%;
        padding: 10px 30px;
    }

    .botoes .botao {
        width: 70px;
        height: 70px;
    }

    .botoes .botao img {
        max-width: 70px;
    }
}

@media (max-width: 425px) {
    main .personagem .imagem {
        height: auto;
    }

    .conteudo {
        top: 40%;
        transform: translateY(-40%);
        padding: 20px;
    }

    .botoes {
        bottom: 10px;
        padding: 10px 20px;
    }

    .botoes .botao {
        width: 50px;
        height: 50px;
    }

    .botoes .botao img {
        max-width: 50px;
    }
}
